.footer{
    width: 50%;
    margin-left: 25%;
}
.table-responsive{
    width: 50%;
    margin-left: 25%;
}
.row-cols-1 {
    width: 50%;
    margin-left: 25%;
}
.d-flex{
    width: 50%;
    margin-left: 25%;
}
.myClass{
    width: 50%;
    margin-left: 25%;
}